/* h1{
    background-color: rgb(241, 195, 203);
} */

html{
    
    text-align: center;
}

.show-time-container{
    margin: auto;
    width: 200px;
    text-align: center;
}

/* .show-time-container h2 {
    border-bottom: 2px solid black;
} */

.show-time{
    background-color:rgb(171, 201, 211);
    border: 2px solid black;
}

.dark {
    background-color: blue;
}

.low {
    color: red;
}

.count-down-container {
    margin: auto;
    font-weight: bold;
    width: 200px;
    background-color: rgb(198, 198, 198);
}