h1{
    background-color: rgb(241, 195, 203);
}

.show-time-container{
    text-align: center;
}

/* .show-time-container h2 {
    border-bottom: 2px solid black;
} */

.show-time{
    background-color:rgb(171, 201, 211);
    text-align: center;
    width: 200px;
    margin: auto;
    border: 2px solid black;
}

.dark {
    background-color: blue;
}